<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/landing.css">
    <title> Charity Drive HomePage</title>
</head>
<body>
    <div class="fullContainer banner" id="homeSection">
        <header>
        <div class="container"> 
            <div class="logo">
                <img src="{{ url_for('static', filename='charity.png') }}" alt="logo">
            </div>
            <nav>
            <ul>
                <li>
                    <a href="#homeSection">Home</a>
                </li>
                <li>
                    <a href="javascript:void(0);">Map</a>
                </li>
                <li>
                    <a href="#aboutSection">About Us</a>
                </li>
                <li>
                    <a href="javascript:void(0);">Gallery</a>
                </li>
                <li>
                    <a href="javascript:void(0);">Join now</a>
                </li>
                <li>
                    <a href="#programsSection">Programs</a>
                </li>
            </ul>

            </nav>
        </div>
        </header>
        <!-- header end here -->

        <div class="container">
            <h1>AI-driven matching between those in need<span>and those with resources to spare</h1></span></h1>
            <p>Charity Driver is an AI-integrated Service that funnels resources to the homeless. We help donors funnel resources to the homeless by building a technical tool that connects donors with the homeless community. </p>
            
        <button>Start with a little </button>
    </div>
    </div>
    <!-- homeSection end here -->

    <section class="fullContainer" id="aboutSection">
        <div class="container">
            <h2 class="sectionTitle"> About Us</h2>
        <p> At Charity Driver, our technology empowers users to do more than just donate it enables them to be catalysts for change. By collecting data on homeless demographics and psychographics, identifying specific needs, and fostering collaboration through private circles, we're not just addressing homelessness; we're revolutionizing how communities come together to create lasting impact. Through our platform, users can also assist charity foundations in pinpointing large concentrations of occupation in specific areas, ensuring that resources are directed where they're needed most. Join us in our mission to drive change, one empowered act at a time</p>
        <div class="cards">
            <div class="Donations">
                <div class="title">Give Donations</div>
                    <p> Through Charity Driver, your donations directly impact homeless individuals, providing essential resources and tangible change. Join our compassionate community, where giving is simple, secure, and transformative.</p>
                    <button>
                        Donate Now
                    </button>
                </div>
                <!-- Donation Box end -->

                <div class="volunteerBox">
                    <div class="title"> Become a memeber</div>
                            <p>Joining Charity Driver empowers users to be catalysts for change by collecting data and fostering collaboration. Join us in revolutionizing community impact and directing resources where they're needed most.</p>
                            <button>
                                Become Now
                            </button>
                        </div>
                        <!-- Donation Box end -->
                        <div class="scholarshipBox">
                            <div class="title"> Changing A.I</div>
                                    <p> Charity Driver utilizes AI technology to optimize resource allocation and streamline assistance for the homeless. Through AI-powered mapping, we identify areas of need and coordinate outreach efforts to ensure efficient and effective support delivery</p>
                                    <button>
                                        Invest Today
                                    </button>
                                </div>
            </div>
        </div>
    </div>  
    </section>
     <!-- aboutSection end here -->
 
  <section class="fullContainer" id="aboutSection">
</section>
<!-- aboutSection end here  -->
<section class="programs" id="programsSection">
    <div class="container">
        <h2 class="sectionTitle">Programs</h2>

        <div class="boxContainer">
            <div class="box">
                <div class="cardImage"></div>
                <div class="programsTitle">Resources to every human</div>
                <div class="donationCount">
                    Donation GOal : <span>$64837</span>
                </div>
                <button>Donate Now</button>
            </div>
            <!-- box end here  -->
            <div class="box">
                <div class="cardImage"></div>
                <div class="programsTitle">Make Life Easier for them</div>
                <div class="donationCount">
                    Donation Goal : <span>$64837</span>
                </div>
                <button>Donate Now</button>
            </div>
            <!-- box end here  -->
            <div class="box">
                <div class="cardImage"></div>
                <div class="programsTitle">Resources to every human</div>
                <div class="donationCount">
                    Donation Goal : <span>$64837</span>
                </div>
                <button>Donate Now</button>
            </div>
            <!-- box end here  -->
            <div class="box">
                <div class="cardImage"></div>
                <div class="programsTitle">Dedicated to serving Homelessness using A.I</div>
                <div class="donationCount">
                    Donation Goal : <span>$64837</span>
                </div>
                <button>Donate Now</button>
            </div>
            <!-- box end here  -->
        </div>
        <!-- boxContainer end here -->

    </div>   
</section>

     
     <!-- Program Section end here  -->
</body>
</html>